.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock

*.iml
*.ipr
*.iws
.idea/

.DS_Store
*.log

android/
ios/
macos/
linux/
windows/
web/

dart_define.json
